footer{
    height: 240px;
    width: 100%;
    background-color: map-get($colours,primary);
}
.foot1{
    border-bottom: 1px solid white;
    padding: 40px;
    @include flexLayout;
    gap:20px
}
.foot1__link1, .foot1__link2{
    width:100px;
    display: block;
    position: relative;
    width:100px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    overflow: hidden;
}
.link1, .link2{
    display: block;
    width: 100%;
    height: 100%;
    transition: transform .5s;
    text-decoration: none;
    color:white;
}
.link1::before{
    display: block;
    content: "CONTACT";
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
}
.foot1__link1:hover .link1{
    transform: translateX(100%);
}
.link2::before{
    display: block;
    content: "BOOKINGS";
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
}
.foot1__link2:hover .link2{
    transform: translateX(100%);
}

.line{
    background-color: white;
    width:1.5px;
    height: 20px
}
.footer__text{
    text-align: center;
    padding:25px;
    color:map-get($colours,tertiary);
    font-size: 16px;
    font-style: italic;
}
.foot2{
    @include flexLayout;
    gap:30px;
}
.foot2__logo1, .foot2__logo2{
    display: block;
    filter:invert(1);
    transition: filter .3s;
}
.foot2__logo2:hover{
    filter:invert(0)
}
.foot2__logo1:hover{
    filter:invert(0)
}
.foot2__logo1{
    background-image: url("https://cdn-icons-png.flaticon.com/512/87/87390.png");
    @include image();
    width:20px;
    height:20px;
}
.foot2__logo2{
    background-image: url("https://cdn-icons-png.flaticon.com/512/5968/5968917.png");
    @include image();
    height:25px;
    width:25px;
}
